<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Web Cam Video</title>
</head>
<body>
<div class="booth">
    <video id="video" width="800" height="600"></video>
    <canvas id="canvas" width="800" height="600"></canvas>
</div>
<script>
    (function () {

        var canvas = document.getElementById('canvas'),
            context = canvas.getContext('2d'),
            video = document.getElementById('video'),
            vendorUrl = window.URL || window.webkitURL;

        navigator.getMedia = navigator.getUserMedia;

        navigator.getMedia({
            video: true,
            audio: false
        }, function (stream) {
            video.srcObject = stream;
            video.play();
        }, function (error) {
            // an error occurred
        });

        // video.addEventListener('play', function () {
        //     draw(this, context, 1024, 768);
        // }, false);
        //
        // function draw(video, context, width, height) {
        //     var image;
        //
        //     context.drawImage(video, 0, 0, width, height);
        //
        //     image = context.getImageData(0, 0, width, height);
        //     context.putImageData(image, 0, 0);
        //
        //     setTimeout(draw, 10, video, context, width, height);
        // }
    })();
</script>


</body>
</html>