<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"/>
<body>

<div>
    <div th:replace="fragments/bodyMainHeader :: bodyMainHeader"/>
    <p>약통이 잘 나왔나요?</p>
    <img th:src="${imgPath}" alt="없음" width="300px" height="400px">
    <button type="submit" class="btn btn-primary" onclick="location.href='/yolo/add'">재등록</button>
    <button type="submit" class="btn btn-primary" onclick="location.href='/yolo/img/add'">상세정보 입력</button>
</div>
</body>
</html>