<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p>젯슨 나노 실시간 스트리밍 x, y, w, h 값</p>
<div>
    <table border="1">
        <tr>
            <th>사용자명</th>
            <th>약통명</th>
            <th>복용약명</th>
            <th>복용날짜</th>
            <th>복용시간</th>
            <th>알약갯수</th>
            <th>x</th>
            <th>y</th>
            <th>w</th>
            <th>h</th>
        </tr>
        <tr>
            <td>사용자1</td>
            <td>약통1</td>
            <td>타이레놀</td>
            <td>2022-10-11</td>
            <td>10:50</td>
            <td>1</td>
            <td>1.1111</td>
            <td>2.2222</td>
            <td>3.3333</td>
            <td>4.4444</td>
        </tr>
    </table>
</div>
</body>
</html>