<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
    <title>Hello</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<div class="container">
    <div th:replace="fragments/bodyMainHeader :: bodyMainHeader"/>
    <div class="jumbotron">
        <h3>Image Detection on Streaming Video with YOLO</h3>
        <p class="lead"></p>
        <p>
            <a class="btn btn-lg btn-secondary" href="/ocr">OCR</a>
            <a class="btn btn-lg btn-secondary" href="/yolo/add">약통 등록하기</a>
        </p>
        <p class="lead"></p>
        <p>
            <a class="btn btn-lg btn-dark" href="/orb/stream">복용하기</a>
        </p>
    </div>
</div> <!-- /container -->
</body>
</html>